* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(121, 48, 239),
    rgb(203, 88, 238)
  );
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.square {
  /* border: 1px solid black; */
  border: none;
  border-radius: 10px;
  color: violet;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}

.status {
  width: max-content;
  margin: auto;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  padding: 12px;
  background-color: black;
  color: white;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
  font-size: 24px;
  letter-spacing: 1px;
}
