* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(121, 48, 239),
    rgb(203, 88, 238)
  );
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.game-info {
  background-color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
}

.game-info > h3 {
  color: white;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
  margin-bottom: 8px;
}

.game-info > ul {
  list-style-type: none;
  gap: 8px;
}

.game-info > ul > li + li {
  margin-top: 8px;
}

.game-info-button {
  border: none;
  border-radius: 8px;
  min-width: 172px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: rgb(121, 48, 239);
  color: white;
  transition: 0.3s ease;
}
.game-info-button:disabled {
  background-color: rgb(121, 48, 239); /* faded grey background */
  color: #ccc; /* faded text color */
  cursor: not-allowed; /* “stop” cursor */
  opacity: 0.6; /* slight transparency */
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.square {
  /* border: 1px solid black; */
  border: none;
  border-radius: 10px;
  color: violet;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* slightly bigger */
  }
  100% {
    transform: scale(1);
  }
}

.winning-square {
  background-color: #4caf50; /* green */
  animation: pulse 1s infinite;
  color: white; /* optional: better contrast */
}

.status {
  width: max-content;
  margin: auto;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  padding: 12px;
  background-color: black;
  color: white;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.75);
  font-size: 24px;
  letter-spacing: 1px;
}
